---
import Layout from "../layouts/Layout.astro";
import Logo from "../components/Logo.astro";
---

<Layout title="Blake Jones">
  <main class="flex min-h-screen items-center justify-center px-8 py-16">
    <Logo />
  </main>
</Layout>
