<div
  class="animate-arrow-holder fixed bottom-1/4 left-1/2 -translate-x-1/2 translate-y-1/2 [animation-timeline:scroll()] supports-[not(animation-timeline:scroll())]:hidden"
>
  <div
    class="animate-arrow relative h-0 w-0 border-b-0 border-l-[16px] border-r-[16px] border-t-[24px] border-transparent border-t-white"
  >
  </div>
</div>
