---
interface Props {
  href: string;
  label: string;
}

const { href, label } = Astro.props;
---

<li>
  <a
    class="block max-w-social-icon transition-transform hover:rotate-360 hover:scale-150 [&_svg]:w-full [&_svg]:fill-white"
    href={href}
    {...!href.startsWith("mailto:") ? { target: "_blank" } : {}}
    aria-label={label}
  >
    <slot />
  </a>
</li>
