<h1
  class="relative animate-tagline text-center text-tagline font-bold [animation-timeline:scroll()]"
>
  Director of Web Development at <a
    class="block transition-transform hover:scale-115"
    href="https://riverworksmarketing.com/"
    target="_blank">Riverworks Marketing</a
  >
</h1>
